# Operators

In [1]:
a=200
b=100
print(a and b)

100

In [2]:
a=200
b=100
print(a or b)

200

In [3]:
print(not b)

False

In [4]:
a=[1,2,3,4]
b=[1,2,3,4]
print(id(a))
print(id(b))
print(b is a)

2122226883200
2122226890880
False

In [5]:
a = 10
b = 20

print("ADD :", a + b)  
print("SUB :", a - b) 
print("MUL :", a * b)  
print("DIV :", a / b) 
print("FLD :", a // b)  
print("MOD :", a % b) 
print("EXP :", a ** b)

ADD : 30
SUB : -10
MUL : 200
DIV : 0.5
FLD : 0
MOD : 10
EXP : 100000000000000000000

In [6]:
a=10
b=20
if(a>b):
    print("True")
else:
    print("False")

False

In [7]:
for i in range(1,10+1):
    print(i,end=" ")

1 2 3 4 5 6 7 8 9 10

In [8]:
i=1
while(i<=10):
    print(i,end=" ")
    i=i+1

1 2 3 4 5 6 7 8 9 10

# Functions in Python

In [9]:
def ADD(a,b):
    return a+b

print(ADD(10,20))

30

In [10]:
def FUN():
    a="NNN"
    b= "NN"
    return a,b
a,b=FUN()
print(a)
print(b)

NNN
NN

# STRINGS

In [11]:
A="Hello world welcome to my world"
print(A[2])

l

In [12]:
A[::-1]

'dlrow ym ot emoclew dlrow olleH'

In [13]:
a="10101"
del a
# print(a)
#it will cause ane error

In [14]:
a="Hello I am Venkata Naresh"
print(len(a))

25

In [15]:
a.upper()
# print(a)

'HELLO I AM VENKATA NARESH'

In [16]:
a.lower()

'hello i am venkata naresh'

In [17]:
a=" Naresh "
print(a.strip())

Naresh

In [18]:
s1 = "Hello"
s2 = "World"
s3 = s1 + " " + s2
print(s3)

Hello World

In [19]:
a="Hello"
print(a*10)

HelloHelloHelloHelloHelloHelloHelloHelloHelloHello

# Lists

In [20]:
a=[10,20,30,"Naresh",20.1,30.3]
print(a)

[10, 20, 30, 'Naresh', 20.1, 30.3]

In [21]:
A=(1,2,3,4,)
print(A)
print(type(A))
A=list(A)
print(type(A))

(1, 2, 3, 4)
<class 'tuple'>
<class 'list'>

In [22]:
A=[1,2,3,4,5]
A.append(20)
print(A)

[1, 2, 3, 4, 5, 20]

In [23]:
A.insert(2,20)

In [24]:
print(A)

[1, 2, 20, 3, 4, 5, 20]

In [25]:
a.extend([15, 20, 25])  
print("After extend([15, 20, 25]):", a)

After extend([15, 20, 25]): [10, 20, 30, 'Naresh', 20.1, 30.3, 15, 20, 25]

In [26]:
print(A)

[1, 2, 20, 3, 4, 5, 20]

In [27]:
A[2]="nARESH"

In [28]:
print(A)

[1, 2, 'nARESH', 3, 4, 5, 20]

In [29]:
A.remove("nARESH")

In [30]:
a=list(map(int,input("Enter list elements").split()))
print(a)

Enter list elements1 2 3 4 5
[1, 2, 3, 4, 5]

In [32]:
def is_even(n):
    if(n%2==0):
        return True
    else:
        return False

nums=[1,2,3,4,5,6,7,8,9,10]
even=list(filter(is_even,nums))
print(even)

[2, 4, 6, 8, 10]

In [33]:
def is_odd(n):
    if(n%2!=0):
        return True
    else:
        return False
num=[1,2,3,4,5,6,7,8,9,10]
odd=list(filter(is_odd,nums))
print(odd)

[1, 3, 5, 7, 9]

# Tuples in Python

In [34]:
tup=(1,2,3,4,5)
print(type(tup))

<class 'tuple'>

In [35]:
tup=(1)
print(type(tup))

<class 'int'>

In [36]:
tup1=(1,"Naresh",2,"Ak")

In [37]:
print(type(tup1))

<class 'tuple'>

In [41]:
print(tup1[-2])

2

In [43]:
tupp=(1,2,3,4,5,6,7,7,8,9,10)
print(max(tupp))
print(min(tupp))

10
1

In [44]:
se={1,2,3,4,5,6}
print(type(se))

<class 'set'>

In [45]:
se1=set()
print(type(se1))

<class 'set'>

# Dictionary

In [53]:
roll_no={
    'Naresh':85,
    'Chakri':90,
    'Akshith':91,
    'Praneeth':118}
print(roll_no['Chakri'])

90

In [54]:
roll_no={
    'Naresh':85,
    'Chakri':90,
    'Akshith':91,
    'Praneeth':118
}
if 'Akshith' in roll_no:
    print("Yes Akshith is present")

Yes Akshith is present

In [56]:
roll_no={
    'Naresh':85,
    'Chakri':90,
    'Akshith':91,
    'Praneeth':118
}
roll_no['Naresh']=100
if 'Akshith' in roll_no:
    print(roll_no)

{'Naresh': 100, 'Chakri': 90, 'Akshith': 91, 'Praneeth': 118}

In [58]:
roll_no={
    'Naresh':85,
    'Chakri':90,
    'Akshith':91,
    'Praneeth':118
}
roll_no.update({'Naresh':100})
print(roll_no)

{'Naresh': 100, 'Chakri': 90, 'Akshith': 91, 'Praneeth': 118}

# Classes and Objects

In [59]:
class Student:
    name="Naresh"
s=Student()
print(s.name)

Naresh

In [61]:
# init function
class Student:
    def __init__(self,name,age):
        self.name=name
        self.age=age
s1=Student("Naresh",21)
s2=Student("Akshith",22)

print(s1.name)
print(s1.age)
print(s2.name)
print(s2.age)

Naresh
21
Akshith
22